data*/
output*/
videos/
.vscode/
logs/
aligned/*
aligned/alpha/
aligned/beta/
__pycache__/
.env
SkinsRestorer/cache/*
SkinsRestorer/players/*
SkinsRestorer/skins/*.playerskin
SkinsRestorer/recommendations.json
postprocess/__pycache__/